<div class="container">
    <div class="top_bar">
        <!-- Logo -->
        <a href="#!" class="logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Departments
                        <img
                            src="./assets/icons/arrow-down.svg"
                            class="navbar__arrow"
                            alt=""
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Grocery

                        <img
                            src="./assets/icons/arrow-down.svg"
                            class="navbar__arrow"
                            alt=""
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Beauty
                        <img
                            src="./assets/icons/arrow-down.svg"
                            class="navbar__arrow"
                            alt=""
                        />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
