*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
}
a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon);
}
